node_modules
dist
dist-ssr
*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor / os
# .vscode qovluğunda yalnız komanda üçün faydalı fayllar saxlanılır
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
